{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'students/css/dashboard.css' %}">
{% endblock %}

{% block content %}   
  <h2>Dashboard</h2>
  
  <h3>Thống kê theo lớp</h3>
  <table>
    <tr><th>Lớp</th><th>Số học sinh</th><th>Điểm TB</th></tr>
    {% for item in class_stats %}
      <tr>
        <td>{{ item.classroom }}</td>
        <td>{{ item.count }}</td>
        <td>{{ item. }}</td>
      </tr>
    {% endfor %}
  </table>


<div class="chart-grid">
    
    <div class="chart-block">
        <h3>Phân bố học lực</h3>
        
        <div class="chart-container">
            <canvas id="academicChart"></canvas> 
        </div>

        <ul class="status-list">
            {% for item in academic_status %}
              <li>{{ item.academic }}: {{ item.count }} học sinh</li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="chart-block">
        <h3>Phân bố giới tính</h3>
        
        <div class="chart-container">
            <canvas id="genderChart"></canvas>
        </div>
        
        <ul class="status-list">
            {% for item in gender_status %}
              <li>{{ item.gender }}: {{ item.count }} học sinh</li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}

{% block scripts %}
  <script>
    const academicData = {
      labels: [{% for item in academic_status %}'{{ item.academic }}'{% if not forloop.last %},{% endif %}{% endfor %}],
      counts: [{% for item in academic_status %}{{ item.count }}{% if not forloop.last %},{% endif %}{% endfor %}]
    };

    const genderData = {
      labels: [{% for item in gender_status %}'{{ item.gender }}'{% if not forloop.last %},{% endif %}{% endfor %}],
      counts: [{% for item in gender_status %}{{ item.count }}{% if not forloop.last %},{% endif %}{% endfor %}]
    };
  </script>

  <script src="{% static 'students/js/dashboard.js' %}"></script>
{% endblock %}
