.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu {
  display: none;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
